<!-- login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center display-5 fw-bold">Inicio de Sesión</h1>
    <p class="text-center text-muted">Ingresa tus credenciales para acceder a tu cuenta.</p>
</div>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
   <form class="form-with-validation" action="" method="POST">
    {% csrf_token %}
    {{form}}
    <button class="form-submit">Iniciar sesión</button>
   </form>
</div>
{% endblock %}
