{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- card perfil -->
            <div class="card border rounded-2 shadow p-3 mb-3">
                <img class="img-thumbnail rounded-circle mb-3" src="" alt="{{ user.username }}" style="width: 100px;">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <h4>Grupo al que pertenece</h4>
                <p><strong>Nombre de usuario: </strong>{{ user.username }}</p>
                <hr>
                <a class="btn btn-outline-secondary" href="">Editar perfil</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <!-- card variable -->
        </div>
    </div>
</div>
{% endblock %}